*{
    background-color: antiquewhite;
}

.c1{
    background-color:rgb(171, 240, 10);

}
#id1{
    background-color: crimson;
}
h2{
    background-color: darkorange;
}
.c5{
    background-color: cyan;
}
#id5{
    background-color: green;
}


